<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @articles.each do |article| %>
  <tr><ul>
    <td><li><%= article.title %></li></td>
    <td><%= article.text %></td></ul>
  </tr>
  <% end %>
</table>


