<h1>Rails Blog Central</h1>
<%= link_to 'All Blog posts', controller: 'articles' %> | <%= link_to 'Write a new Blog post', new_article_path %>

<h3>Hello, there!</h3>

<h3>This is an example CRUD Rails app that you can create, update, and delete blog posts.  You can also comment on the blog post.</h3>

<h3>This is a pic of my dog just for giggles:</h3>
<img src="http://usercontent.packdog.com/post/photo/7wDYt1_274e28fda5a3776c600692b30339ee3a5dbf310e.jpg">

