<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %><br>

<<<<<<< HEAD
<h3>This is an example CRUD Rails app that you can create, update, and delete blog posts.  You can also comment on the blog post.</h3>
<%= link_to 'All of my Blog posts', controller: 'articles' %> | <%= link_to 'New Blog post', new_article_path %>
=======
<%= link_to 'New article', new_article_path %>
>>>>>>> parent of 53bf8b5... added the ability to add images to articles and see it

